body {
	font: 16px Kalimati, Verdana, sans-serif;
	color: #666;
}

p {
	line-height: 2;
}

img {
	margin: 20px 0 0 0;
}

.container {
	margin: 26px 0 0 27px;
}

.main-title {
	color: #666;
	font-size: 46px;
}

.section-title {
	color: #f07c17;
	font-size: 24px;
	padding: 0 0 16px 0;
}

.features-box {
	border: solid 1px #ccc;
	margin: 30px 30px 0 0;
	padding: 20px 0 30px 30px;
	line-height: 2;
}